* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --container-bg-color: #fafafa;
    --bg-color: #ff347f;
    --darker-pink: #c9356c;
    --ligther-pink: #f48db4;
    
    --container-bg-active: #f4eeff;
    --bg-active: #a6b1e1;
    --gray: #a6b1e1;
    --blue: #424874;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--bg-color);
    transition: 0.3s ease;
}

.container {
    display: grid;
    width: 400px;
    height: 615px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    background: var(--container-bg-color);
    transition: 0.3s ease;
}

.box-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 120px;
}

.toggle {
    height: 55px;
    width: 100%;
    border-bottom: 1px solid silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

h2 {
    width: 70%;
    font-size: 30px;
    font-weight: 700;
    color: var(--darker-pink);
    cursor: default;
    transition: 0.3s ease;
}

.toggle-box {
    width: 60px;
    height: 30px;
    background: var(--ligther-pink);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--darker-pink);
    transform: scale(0.75);
    position: absolute;
    left: 0;
    transition: 0.3s ease;
}

/*Toggle Box Off-On*/
body.active {
    background: var(--bg-active);
}

body.active .toggle-box {
    background: var(--gray);
}

body.active h2 {
    color: var(--blue);
}

body.active input:focus {
    background: var(--blue);
    color: var(--gray);
}

body.active input, body.active .generateBtn {
    border-color: var(--blue);
}

body.active .container, body.active input, body.active .generateBtn {
    background: var(--container-bg-active);
}

body.active .generateBtn, body.active .deleteBtn, body.active .text {
    color: var(--blue);
}

body.active .generateBtn:hover, body.active .clearBtn {
    background: var(--blue);
    color: var(--container-bg-active);
}

body.active .circle {
    left: 30px;
    background: var(--blue);
}

body.active .todo, body.active .box-2::-webkit-scrollbar-thumb {
    background: var(--gray);
}

/*---------------*/

.generateLine {
    position: relative;
    width: 100%;
    padding: 20px 28px 0 20px;
    display: flex;
    gap: 10px;
}

.charsCounter {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 12px;
    letter-spacing: .1px;
}

.counterColor {
    color: #e70000;
}

input {
    padding: 0 0 0 10px;
    height: 40px;
    width: 80%;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid var(--bg-color);
    cursor: pointer;
    transition: 0.3s ease;
}

input:focus {
    outline: none;
    border-color: var(--darker-pink);
    background: var(--bg-color);
    color: var(--container-bg-color);
}

input::placeholder {
    color: rgba(0,0,0,0.75);
}

.generateBtn {
    outline: none;
    border: 2px solid var(--bg-color);
    background: var(--container-bg-color);
    height: 40px;
    width: 20%;
    border-radius: 5px;
    color: var(--bg-color);
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.generateBtn:hover {
    background: var(--bg-color);
    color: var(--container-bg-color);
}

.box-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 400px;
    padding: 0 20px 15px 20px;
    gap: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 15px;
}

.box-2::-webkit-scrollbar {
    width: 8px;
}

.box-2::-webkit-scrollbar-thumb {
    background: var(--ligther-pink);
    border-radius: 8px;
    transition: 0.3s ease;
}

.todo {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 50px;
    background: var(--ligther-pink);
    border-radius: 5px;
    transition: 0.3s ease;
}

.text {
    width: 80%;
    color: var(--container-bg-color);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    overflow: hidden;
    transition: 0.3s ease;
}

.text::-webkit-scrollbar {
    width: 0;
}

.deleteBtn {
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    font-size: 20px;
    color: var(--darker-pink);
    right: 5px;
    width: 50px;
    height: 50px;
    transition: 0.3s ease;
}

.deleteBtn:hover, body.active .deleteBtn:hover {
    color: var(--container-bg-color);
}

.box-3 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    gap: 20px;
    border-top: 1px solid silver;
}

.tasks {
    font-size: 17px;
}

.clearBtn {
    border: none;
    background: var(--bg-color);
    width: 100px;
    height: 40px;
    color: var(--container-bg-color);
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.clearBtn:hover {
    border-radius: 5px 15px;
}

@media (max-width: 480px) {
    h2 {
        font-size: 27px;
    }
    input, .generateBtn {
        font-size: 14px;
    }
    .box-2 {
        gap: 10px;
        padding: 10px 20px;
    }
    .text {
        font-size: 16px;
    }
    .deleteBtn {
        font-size: 18px;
    }
    .tasks {
        font-size: 15px;
    }
    .clearBtn {
        width: 80px;
        height: 40px;
        font-size: 14px;
    }
}